<html>
    <body>
        <h3>"Bobby Belkin"</h3>

        <form action="/ml" method="POST">
            <div class="form-group">
              <label for="exampleInputEmail1">Sex</label>
              <input type="number" class="form-control" name="sex" placeholder="Male:0 Female:1 Infant:2" >
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">length</label>
                <input type="number" class="form-control" name="length" placeholder="Enter albone legnth">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">diameter</label>
                <input type="number" class="form-control" name="diameter" placeholder="Enter albone diameter">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">height</label>
                <input type="number" class="form-control" name="height" placeholder="Enter albone height">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">whole_weight</label>
                <input type="number" class="form-control" name="whole_weight" placeholder="Enter albone whole_weight">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">shucked_weight</label>
                <input type="number" class="form-control" name="shucked_weight" placeholder="Enter shucked_weight">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">viscera_weight </label>
                <input type="number" class="form-control" name="viscera_weight" placeholder="Enter viscera_weight">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">shell_weight</label>
                <input type="number" class="form-control" name="shell_weight" placeholder="Enter shell_weight">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </body>
</html>